<br>
<mat-spinner color="{{themeColor}}"  style="margin:0 auto; top:70px" 
mode="indeterminate" *ngIf="isloading"></mat-spinner>
  <div class="container" style="margin-top: 70px;">
    <div class="row">
              <div style="width: 40%; padding:10px">
              <mat-card class="example-card card">
                <img mat-card-image src="{{book.cover}}" alt="{{book.title}}" style="height: 400px; width: 300px; margin-left: auto;
                margin-right: auto;margin-top: auto;
                display: block;">
                <mat-card-content>
                    <a style="width: 300px; margin-left: auto;
                    margin-right: auto;margin-top: auto; display: block;" mat-raised-button href="{{book.website}}" target="_blank">Go To Website</a>
                </mat-card-content>     
              </mat-card>
              </div>

              <div style="width: 60%; padding:10px">
                <mat-card class="example-card card">
                    <mat-card-title>{{book.title}}</mat-card-title>
                    <mat-card-subtitle>by {{book.author}}</mat-card-subtitle>
                  <mat-card-content>
                    <p class="book-content__rating" style="margin-left: auto;
                    margin-right: auto;">Rating: <strong>{{book.rating}} / 5</strong></p>
                    <mat-chip-list>
                      <mat-chip style="color: orangered; background-color: yellow;">{{book.type}}</mat-chip></mat-chip-list>
                      <mat-divider></mat-divider><br><br>
                    <p>ISBN:{{book.isbn}}</p>
                    <p>Pages: {{book.pages}}</p>
                    <mat-divider></mat-divider><br>
                    <p>{{book.description}}</p>
                  </mat-card-content>     
                </mat-card>
                </div>
    </div>
    

